.presentation {
    background-color: burlywood;
}

.neymar img {
    width: 250px;  /* Cambia 100px por el tamaño deseado */
    height: auto;  /* Mantiene la relación de aspecto */
}

.footer img {
    width: 250px;  /* Cambia 100px por el tamaño deseado */
    height: auto;  /* Mantiene la relación de aspecto */
}

.footer {
    background-color: beige;
}
.footer footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.presentation h1 {
    padding-top: 30px;
    padding-bottom: 100px;
}
.presentation h2 {
    padding-top: 50px;
}

.presentation img {
    width: 400px;
    height: auto;
    position: relative;
    right: -580px;
    transform: translateY(-100px) scaleX(-1);
}