.presentation {
    background-color: burlywood;
    padding-bottom: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.neymar img {
    width: 250px;  /* Cambia 100px por el tamaño deseado */
    height: auto;  /* Mantiene la relación de aspecto */
}

.footer img {
    width: 250px;  /* Cambia 100px por el tamaño deseado */
    height: auto;  /* Mantiene la relación de aspecto */
}

.footer {
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.presentation h1 {
    padding-top: 30px;
}

.kaka img {
    width: 400px;
    height: auto;
    position: relative;
    right: -80px;
    transform: translateY(-350px);
}

.face img {
    width: 700px;
    height: auto;
    right: -580px;
    position: relative;
    transform: translateY(50px);
}

.button button {
    width: 90px;
    height: auto;
}